{% extends 'base.html' %}

{% block header %}
  <h1 class="__uk-heading-divider">{% block title %}Quests{% endblock %}</h1>
{% endblock %}

{% block quest_active %}uk-active{% endblock %}

{% block content %}
  <h3>Barreiro</h3>
  <hr class="uk-divider-icon">
  <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
    
    {% for quest in quests['barreiro_quests'] %}

      <div>
        <a href="{{ quest['static_link'] }}"> 
          <div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title">{{ quest['title'] }}</h3>
              <p>{{ quest['description'] }}</p>
          </div>
        </a> 
      </div>
    
    {% endfor %}
  </div>


{% endblock %}

