{% extends 'base.html' %}

{% block header %}
  <div uk-grid class="">
    <h1 class="">{% block title %}Elements{% endblock %}</h1>
    {% if g.user %}
    <a class="" href="{{ url_for('blog.create') }}">add element</a>
    {% endif %}
  </div>
{% endblock %}

<div class="uk-container-expand"></div>
{% block menu_items %}
<!-- li class="uk-active"><a href="{{ url_for('index') }}">Elements</a></li>
<li><a href="{{ url_for('tags.index') }}">#Tags</a></li -->
{% endblock %}
{% block elements_active %}active{% endblock %}

{% block content %}
  
<div class='row mb-2 mt-2'>
  <div class='col'>
    {% for tag in tags %}
    <span class="badge text-bg-secondary">
      #{{ tag }}
      <button type="button" class="btn-close" aria-label="Close" onclick="tagCloseOnClickGeneral('{{ tag }}')"></button>
    </span>
    {% endfor %}
  </div>
</div>

<div class="row row-cols-auto">
{% for post in posts %}
  <div class="col">
    <div class="card mb-2" style="width: 18rem;">
      <!-- img src="..." class="card-img-top" alt="..." -->
      <div class="card-body">
        <h5 class="card-title"><a class="" href="{{ url_for('blog.view', id=post['id']) }}">{{ post['title'] }}</a></h5>
        <p class="card-text">{{ post['body'] }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</li>
      </ul>
      
      {% if post["tags"] != None and post["tags"] != "" %}
      <div class="card-body">
        {% for tag in post["tags"].split(';') %}
          {% if tag != '' %}  
            <!-- a href="{{ url_for('index') + '?tag=' + tag }}" onclick='tagOnClick()'>{{ tag }}</a -->
            <a href="#" onclick="tagOnClickGeneral('{{ tag }}')">#{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      
      {% if g.user['id'] == post['author_id'] %}
      <div class="card-body">
        <a class="" href="{{ url_for('blog.update', id=post['id']) }}">edit</a>
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>

<div class='row mt-2'>
  <nav aria-label="Pagination">
    <ul class="pagination">
      {% if currentPage > 1 %}
      <li class="page-item"><a class="page-link" href="{{ url_for('index') + '?page='+(currentPage-1)|string }}">Previous</a></li>
      {% else %}
      {% endif %}
      <li class="page-item"><a class="page-link" href="{{ url_for('index') + '?page='+(currentPage+1)|string }}">Next</a></li>
    </ul>
  </nav>
</div>

<script>
  function tagOnClick(tag_title) {
    tags = getCookie('tags');
    if (tags == null) {
      tags = ""
    }
    if (tags.length > 0 && tags.search(tag_title) == -1) {
      setCookie('tags', tags + '%%' + tag_title, 0)
    } else if (tags.length == 0) {
      setCookie('tags', tag_title, 0)
    }
    window.location.href = "{{ url_for('index') }}" + "?tag=" + tag_title;
  }
</script>

{% endblock %}

