{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <fieldset class="">

      <legend class="">Edit "{{ post['title'] }}</legend>
      <div class="">
        <label for="parent_id"><span class="">Parent ID</span></label>
        <input class="form-control" name="parent_id" id="parent_id" value="{{ request.form['parent_id'] or post['parent_id'] }}">
      </div>
      
      <div class="uk-margin">
        <label for="title"><span class="uk-label">Title</span></label>
        <input class="form-control" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
      </div>
      
      <div class="">
        <label for="body"><span class="uk-label">Body</span></label>
        <textarea class="form-control" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
      </div>
      
      <div class="">
        <label for="comment"><span class="uk-label">Comment</span></label>
        <textarea class="form-control" name="comment" id="comment">{{ request.form['comment'] or post['comment'] }}</textarea>
      </div>
      
      <div class="">
        <label for="tags"><span class="uk-label">Tags (keep it the same as the tag items below)</span></label>
        <textarea class="form-control" name="tags" id="tags">{{ request.form['tags'] or post['tags'] }}</textarea>
      </div>

      <div class="m-3">
        <input class="btn btn-primary" type="submit" value="Save Element">
      </div>
    </div>
  </form>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete Element" onclick="return confirm('Are you sure?');">
  </form>

  <table class="">
    <caption>Tags</caption>
    <tbody>
      {% for tag in tags %}
      <tr>
          <td>
            <p>{{ tag['title'] }}</p>
          </td>
          <td>
            <form action="{{ url_for('blog.delete_element_tag', id=tag['id'], element_id=post['id']) }}" method="post">
              <input class="btn btn-danger" type="submit" value="Delete Tag" onclick="return confirm('Are you sure?');">
            </form>
          </td>
      </tr>
      {% endfor %}
      <tr>
        <form action="{{ url_for('blog.create_tag', id=post['id']) }}" method="post">
          <td>
            <input class="form-control" placeholder="Enter new tag here..." name="tag_title" id="tag_title" value="{{ request.form['tag_title'] }}" required>
          </td>
          <td>
            <input class="btn btn-secondary" type="submit" value="Add Tag">
          </td>
        </form>
      </tr>
    </tbody>
</table>

  <!-- Links -->
  <table class="">
    <caption>Links</caption>
    <tbody>
      {% for link in links %}
      <tr>
          <td>
            <p><a href="{{ link['title'] }}" target="_blank">{{ link['title'] }}</a></p>
          </td>
          <td>
            <form action="{{ url_for('blog.delete_element_link', id=link['id'], element_id=post['id']) }}" method="post">
              <input class="btn btn-danger" type="submit" value="Delete link" onclick="return confirm('Are you sure?');">
            </form>
          </td>
      </tr>
      {% endfor %}
      <tr>
        <form action="{{ url_for('blog.create_link', id=post['id']) }}" method="post">
          <td>
            <input class="form-control" placeholder="Enter new link here..." name="link_title" id="link_title" value="{{ request.form['link_title'] }}" required>
          </td>
          <td>
            <input class="btn btn-secondary" type="submit" value="Add Link">
          </td>
        </form>
      </tr>
    </tbody>
</table>

{% endblock %}
