{% extends 'base.html' %}

{% block content %}

  <form method="post">
    <fieldset class="">

      <legend class="">Edit: {{ post['title'] }}</legend>
      <p class="fs-4"><a class="" href="{{ url_for('blog.view', id=post['id']) }}">view</a></p>
      <div class="">
        <label for="parent_id"><span class="">Parent ID</span></label>
        <input class="form-control" name="parent_id" id="parent_id" value="{{ request.form['parent_id'] or post['parent_id'] }}">
      </div>
      
      <div class="uk-margin">
        <label for="title"><span class="uk-label">Title</span></label>
        <input class="form-control" name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
      </div>
      
      <div class="">
        <label for="body"><span class="uk-label">Body</span></label>
        <textarea class="form-control" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
      </div>
      
      <div class="">
        <label for="comment"><span class="uk-label">Comment</span></label>
        <textarea class="form-control" name="comment" id="comment">{{ request.form['comment'] or post['comment'] }}</textarea>
      </div>
      
      <div class="">
        <label for="tags"><span class="uk-label">Tags (keep it the same as the tag items below)</span></label>
        <textarea class="form-control" name="tags" id="tags">{{ request.form['tags'] or post['tags'] }}</textarea>
      </div>

      <div class="m-3">
        <input class="btn btn-primary" type="submit" value="Save Element">
      </div>
    </div>
  </form>
  <form action="{{ url_for('blog.delete_element', id=post['id']) }}" method="post">
    <input class="btn btn-danger" type="submit" value="Delete Element" onclick="return confirm('Are you sure?');">
  </form>

  <h3 class="mt-3">Tags</h3>
  <table class="">
    <tbody>
      {% for tag in tags %}
      <tr>
          <td>
            <p>{{ tag['tag_id'] }}</p>
          </td>
          <td>
            <p>{{ tag['title'] }}</p>
          </td>
          <td>
            <form action="{{ url_for('blog.delete_element_tag', id=tag['id'], element_id=post['id']) }}" method="post">
              <input class="btn btn-danger" type="submit" value="Delete Tag" onclick="return confirm('Are you sure?');">
            </form>
          </td>
      </tr>
      {% endfor %}
      <tr>
        <form action="{{ url_for('blog.create_tag', id=post['id']) }}" method="post">
          <td>
            <input class="form-control" placeholder="tag_id" name="tag_id" id="tag_id" value="{{ request.form['tag_id'] }}" required>
          </td>
          
          <td>
          </td>

          <td>
            <input class="btn btn-secondary" type="submit" value="Add Tag">
          </td>
        </form>
      </tr>
    </tbody>
  </table>

  <!-- Links -->
  <h3 class="mt-3">Links</h3>
  <table class="">
    <tbody>
      <thead>
        <tr>
          <th scope="col">link</th>
          <th scope="col">title</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      {% for link in links %}
      <tr>
          <td>
            <p><a href="{{ link['title'] }}" target="_blank">{{ link['title'] }}</a></p>
          </td>
          <td>
            <p>{{ link['comment'] }}</p>
          </td>
          <td>
            <form action="{{ url_for('blog.delete_element_link', id=link['id'], element_id=post['id']) }}" method="post">
              <input class="btn btn-danger" type="submit" value="Delete link" onclick="return confirm('Are you sure?');">
            </form>
          </td>
      </tr>
      {% endfor %}
      <tr>
        <form action="{{ url_for('blog.create_link', id=post['id']) }}" method="post">
          <td>
            <input class="form-control" placeholder="Enter new link here..." name="link_title" id="link_title" value="{{ request.form['link_title'] }}" required>
          </td>
          <td>
            <input class="form-control" placeholder="Enter new link here..." name="link_comment" id="link_comment" value="{{ request.form['link_comment'] }}" required>
          </td>
          <td>
            <input class="btn btn-secondary" type="submit" value="Add Link">
          </td>
        </form>
      </tr>
    </tbody>
  </table>

  
  <!-- composition_of_element -->
  {% if False %}
  <pre>{{ composition_of_element[0]._fields }}</pre>
  {% else %}
  <br/>
  <h3 class="mt-3">Consist of</h3>
  <table class="">
    <tbody>
      <thead>
        <tr>
          <th scope="col">subelement_id</th>
          <th scope="col">element_id</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      
      {% for item_of_composition in composition_of_element %}
      <tr>
          <td>
            <p><a href="{{ url_for('blog.view', id=item_of_composition['subelement_id']) }}" target="_blank">{{ item_of_composition['subelement_title'] }}</a></p>
          </td>
          <form action="{{ url_for('composition_of_element.delete_element_of_composition', id=item_of_composition['id']) }}" method="post">
            <td>
              <input class="form-control" placeholder="this element id" name="element_id" id="element_id" value="{{ post['id'] }}" required>
            </td>
            <td>
                <input class="btn btn-danger" type="submit" value="Delete Subelement" onclick="return confirm('Are you sure?');">              
            </td>
          </form>
      </tr>
      {% endfor %}

      <tr>
        <form action="{{ url_for('composition_of_element.create_element_of_composition') }}" method="post">
          <td>
            <input class="form-control" placeholder="subelement id..." name="subelement_id" id="subelement_id" value="{{ request.form['subelement_id'] }}" required>
          </td>
          <td>
            <input class="form-control" placeholder="this element id" name="element_id" id="element_id" value="{{ post['id'] }}" required>
          </td>
          <td>
            <input class="btn btn-secondary" type="submit" value="Add Subelement">
          </td>
        </form>
      </tr>
    </tbody>
  </table>
  {% endif %}
{% endblock %}
