{% extends 'base.html' %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('blog.index') }}">Elements</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ post['title'] }}</li>
  </ol>
</nav>
{% endblock %}

{% block header %}
  <h1 class="breadcrumb-item active">{% block title %}{{ post['title'] }}{% endblock %}</h1>
  {% if current_user.is_authenticated and current_user.has_role("admin") %}
  <p class="fs-4"><a class="" href="{{ url_for('blog.update_element', id=post['id']) }}">edit</a></p>
  {% endif %}
  {% if post['parent_id'] %}
    Parent Element:
    <a href="{{ url_for('blog.view', id=post['parent_id']) }}">
      {{ post['parent_title'] }}
    </a>
  {% endif %}
{% endblock %}

{% block content %}
  <div name="body" id="body">
    <!-- p class="fs-4">{{ (request.form['body'] or post['body']) | e | replace('\n', '<br>') | safe }}</p -->
    <p class="fs-4">{{ post['body'] | safe }}</p>
  </div>
  
  <div class= "text-body-secondary" name="comment" id="comment">
    <p class="">{{ request.form['comment'] or post['comment'] }}</p>
  </div>
  
  <!-- Links -->
  {% for link in links %}
    <article class="">
      <header>
        <div>
          
          <a href="{{ link['title'] }}" target="_blank">
            {% if link['comment'] %}
            <p class="fs-4">{{ link['comment'] }}</p>
            {% else %}
            <p class="fs-4">{{ link['title'] }}</p>
            {% endif %}
          </a>
          
        </div>
      </header>
    </article>
    {% if loop.last %}
    {% endif %}
  {% endfor %}

  <!-- Tags -->
  {% if tags %}
  <div class="hstack gap-3">
  {% for tag in tags %}
    <a href="#" onclick="tagOnClick('{{ tag['id'] }}')">
      <p class="fs-4">#{{ tag['title'] }}</p>
    </a>
  {% endfor %}
  </div>
  <br/>
  {% endif %}

  <!-- Common Variants -->
  {% if common_variants %}
  <br/>
  <h4>Common Variants</h4>
  <ul class="list-group">
  {% for variant in common_variants %}
  <li class="list-group-item">  
    <article class="">
      <span class="fs-4">{{ variant['description'] | safe }}</span>
    </article>
  </li>
  {% endfor %}
  </ul>
  <br/>
  {% endif %}

  
  <!-- Sub Elements -->
  {% if composition_of_element %}
  <br/>
  <h4>Consist of</h4>
  <ul class="list-group">
  {% for item_of_composition in composition_of_element %}
  <li class="list-group-item">  
    <article class="">
      <header>
        <div>
          <a href="{{ url_for('blog.view', id=item_of_composition['subelement_id']) }}">
            <p class="fs-4">{{ item_of_composition['subelement_title'] }}</p>
          </a>
          <p class="fs-6">{{ item_of_composition['subelement_body'] | safe }}</p>
        </div>
      </header>
    </article>
  </li>
  {% endfor %}
  </ul>
  <br/>
  {% endif %}
  
  
  <!-- Part of -->
  {% if part_of %}
  <h4>Part of</h4>
  <ul class="list-group">
  {% for the_item in part_of %}
  <li class="list-group-item">  
    <article class="">
      <header>
        <div>
          <a href="{{ url_for('blog.view', id=the_item['id']) }}">
            <p class="fs-4">{{ the_item['title'] }}</p>
          </a>
          <p class="fs-6">{{ the_item['body'] | safe }}</p>
        </div>
      </header>
    </article>
  </li>
  {% endfor %}
  <br/>
  {% endif %}

  
  
<!-- Games -->
{% if games %}
<h4>Games that used {{ post['title'] }}</h4>
<ul class="list-group">
{% for game in games %}
  <li class="list-group-item">  
    <article class="">
      <header>
        <div>
          <a href="{{ url_for('games.view', id=game['g_id']) }}" target="_blank">
            <p class="fs-4">{{ game['title'] }}</p>
          </a>
          <p class="fs-6">{{ game['description'] | safe }}</p>
        </div>
      </header>
    </article>
    {% if loop.last %}
    {% endif %}
  </li>
{% endfor %}
</ul>
<br/>
{% endif %}


<h4>Added by</h4>
<p class="fs-4">{{ post['username'] }}</p>


<script>
function tagOnClick(tag_title) {
    window.location.href = "{{ url_for('blog.index') }}" + "?tag=" + tag_title;
}
</script>

{% endblock %}
