{% extends 'base.html' %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('games.index') }}">Games</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('games.view', id=game.id) }}">{{ game['title'] }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Full description</li>
  </ol>
</nav>
{% endblock %}

{% block header %}
  <h1 class="breadcrumb-item active">{% block title %}Full Description: {{ game['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <hr>
  <div name="body" id="body">
    {{ full_description }}
  </div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7QR1MW3WC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C7QR1MW3WC');
</script>
<script>
  /*el = document.getElementById("body");
  el.innerHTML = "{{ (request.form['body'] or game['body']) }}";
  console.log("{{ (request.form['body'] or game['body']) }}");*/
</script>

{% endblock %}
