{% extends 'base.html' %}

{% block header %}
  <div uk-grid class="">
    <h1 class="">{% block title %}Games{% endblock %}</h1>
    {% if g.user %}
    <a class="" href="{{ url_for('games.create') }}">add game</a>
    {% endif %}
  </div>
{% endblock %}

<div class="uk-container-expand"></div>
{% block menu_items %}
{% endblock %}
{% block games_active %}active{% endblock %}

{% block content %}
  
<div class="row row-cols-auto">
{% for game in games %}
  <div class="col">
    <div class="card mb-2" style="width: 18rem;">
      <!-- img src="..." class="card-img-top" alt="..." -->
      <div class="card-body">
        <h5 class="card-title"><a class="" href="{{ url_for('games.view', id=game['id']) }}">{{ game['title'] }}</a></h5>
        {% if game['body']|length > 150 %}
          <p class="card-text">{{ game['body'][:150] }}...</p>
        {% else %}
          <p class="card-text">{{ game['body'] }}</p>
        {% endif %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">by {{ game['username'] }} on {{ game['created'].strftime('%Y-%m-%d') }}</li>
      </ul>
      
      {% if g.user['id'] == game['author_id'] %}
      <div class="card-body">
        <a class="" href="{{ url_for('games.update', id=game['id']) }}">edit</a>
      </div>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>

<div class='row mt-2'>
  <nav aria-label="Pagination">
    <ul class="pagination">
      {% if currentPage > 1 %}
      <li class="page-item"><a class="page-link" href="{{ url_for('index') + '?page='+(currentPage-1)|string }}">Previous</a></li>
      {% else %}
      {% endif %}
      <li class="page-item"><a class="page-link" href="{{ url_for('index') + '?page='+(currentPage+1)|string }}">Next</a></li>
    </ul>
  </nav>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7QR1MW3WC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C7QR1MW3WC');
</script>
{% endblock %}

