{% extends 'base.html' %}

{% block content %}
<div class='row'>
  <div class='col-12'>
    
    <form method="post">
      <fieldset class="">
  
        <legend class="">Edit "{{ game['title'] }}</legend>
        
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input class="form-control" type="text" aria-label="Title"
          name="title" id="title" value="{{ request.form['title'] or game['title'] }}" required>
        </div>
  
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" name="body" id="body" rows="3">{{ request.form['body'] or game['body'] }}</textarea>
        </div>
  
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea class="form-control" name="comment" id="comment" rows="3">{{ request.form['comment'] or game['comment'] }}</textarea>
        </div>
        
        <div class="mb-3">
          <label for="tags"><span class="form-label">Tags (keep it the same as the tag items below)</span></label>
          <textarea class="form-control" name="tags" id="tags">{{ request.form['tags'] or game['tags'] }}</textarea>
        </div>
  
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Save Game</button>
        </div>
      </div>
    </form>
  
    <form action="{{ url_for('games.delete', id=game['id']) }}" method="post">
      <fieldset class="">
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure?');">Delete Game</button>
        </div>
      </fieldset>
    </form>


    <div class='row'>
      <div class='col-12'>
    
          <table class="table table-hover">
            <caption class="caption-top">Tags</caption>
            <tbody>
              {% for tag in tags %}
              <tr>
                  <td>
                    <p>{{ tag['title'] }}</p>
                  </td>
                  <td>
                    <form action="{{ url_for('games.delete_tag', id=tag['id'], game_id=game['id']) }}" method="post">
                      <input class="danger uk-button uk-button-default" type="submit" value="Delete Tag" onclick="return confirm('Are you sure?');">
                    </form>
                  </td>
              </tr>
              {% endfor %}
              <tr>
                <form action="{{ url_for('games.create_tag', id=game['id']) }}" method="post">
                  <td>
                    <input class="uk-input" placeholder="Enter new tag here..." name="tag_title" id="tag_title" value="{{ request.form['tag_title'] }}" required>
                  </td>
                  <td>
                    <input class="uk-button uk-button-secondary" type="submit" value="Add Tag">
                  </td>
                </form>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-12'>
    
        <!-- Links -->
        <table class="table table-hover">
          <caption class="caption-top">Links</caption>
          <tbody>
            {% for link in links %}
            <tr>
                <td>
                  <p><a href="{{ link['title'] }}" target="_blank">{{ link['title'] }}</a></p>
                </td>
                <td>
                  <form action="{{ url_for('games.delete_link', id=link['id'], game_id=game['id']) }}" method="post">
                    <input class="danger uk-button uk-button-default" type="submit" value="Delete link" onclick="return confirm('Are you sure?');">
                  </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
              <form action="{{ url_for('games.create_link', id=game['id']) }}" method="post">
                <td>
                  <input class="uk-input" placeholder="Enter new link here..." name="link_title" id="link_title" value="{{ request.form['link_title'] }}" required>
                </td>
                <td>
                  <input class="uk-button uk-button-secondary" type="submit" value="Add Link">
                </td>
              </form>
            </tr>
          </tbody>
        </table>
    
      </div>
    </div>
    
    <!-- Game Elements -->
    <div class='row'>
      <div class='col-12'>
    
        <table class="table table-hover">
          <caption class="caption-top">Game Elements</caption>
          <tbody>
            <thead>
              <tr>
                <th scope="col">id type</th>
                <th scope="col">previous_ge_id</th>
                <th scope="col">ge_id</th>
                <th scope="col">parent_element_id</th>
                <th scope="col">e_id</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            {% for game_element in game_elements %}
            <tr>
                <td>
                  {{ game_element['type_of_id'] }}
                </td>
                <td>
                  {{ game_element['previous_ge_id'] }}
                </td>
                <td>
                  {{ game_element['ge_id'] }}
                </td>
                <td>
                  {{ game_element['parent_element_id'] }}
                </td>
                <td>
                  {{ game_element['e_id'] }}
                </td>
                <td>
                  <p><a href="{{ url_for('blog.view', id=game_element['e_id']) }}" target="_blank">{{ game_element['title'] }}</a></p>
                </td>
                <td>
                  {{ game_element['description'] }}
                </td>
                <td>
                  <form action="{{ url_for('games.delete_game_element', ge_id=game_element['ge_id'], game_id=game['id']) }}" method="post">
                    <input class="danger uk-button uk-button-default" type="submit" value="Delete element" onclick="return confirm('Are you sure?');">
                  </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
              <form action="{{ url_for('games.create_game_element', id=game['id']) }}" method="post">
                <td>
                  <select class="form-select" aria-label="Type of element ID" name="type_of_id" id="type_of_id" required>
                    <option selected value="element">Element</option>
                    <option value="game_element">Game element</option>
                  </select>
                </td>
                <td>
                  <input class="" placeholder="previous_ge_id" name="previous_ge_id" id="previous_ge_id" value="{{ request.form['previous_ge_id'] }}">
                </td>
                <td>
                  ge_id
                </td>
                <td>
                  <input class="" placeholder="parent_ge_id" name="parent_element_id" id="parent_element_id" value="{{ request.form['parent_element_id'] }}">
                </td>
                <td>
                  <input class="" placeholder="element_id" name="element_id" id="element_id" value="{{ request.form['element_id'] }}" required>
                </td>
                <td>
                  e_title
                </td>
                <td>
                  <input class="" placeholder="description" name="description" id="description" value="{{ request.form['description'] }}">
                </td>
                <td>
                  <input class="" type="submit" value="Add Element">
                </td>
              </form>
            </tr>
          </tbody>
        </table>
    
      </div>
    </div>
    

  </div>
</div>

{% endblock %}
