{% extends 'base.html' %}

{% block header %}
  <div uk-grid class="">
    <h1 class="">{% block title %}Feedback{% endblock %}</h1>
  </div>
{% endblock %}

<div class=""></div>
{% block menu_items %}
{% endblock %}
{% block services_active %}active{% endblock %}

{% block content %}
  
<div class="row row-cols-auto mt-3">
{% for the_feedback in feedback %}
  <div class="col">
    <div class="card mb-2" style="width: 18rem;">
      <!-- img src="..." class="card-img-top" alt="..." -->
      <div class="card-body">
        <h5 class="card-title">{{ the_feedback['service_name'] }}</a></h5>
        <p class="card-text">{{ the_feedback['feedback_text'] }}</p>
        <p class="card-text">{{ the_feedback['is_positive'] }}</p>
        <p class="card-text">{{ the_feedback['is_negative'] }}</p>
        <p class="card-text">{{ the_feedback['version'] }}</p>
      </div>
      <div class="card-footer text-muted">
        Submitted on {{ the_feedback['created_at'] }}
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}

