{% extends 'base.html' %}

{% block header %}
  <div class="">
    <h1 class="">{% block title %}Load Elements{% endblock %}</h1>
    {% if current_user.is_authenticated %}
    </script>
    <form action="{{ url_for('services.load_elements') }}" method="post">
      <div class="mb-3">
          <label for="json_input" class="form-label">Paste your elements data in JSON format here</label>
          {% if json_input %}
          <textarea class="form-control" name="json_input" id="json_input" rows="20">{{ json_input }}</textarea>
          {% endif %}
          {% if not json_input %}
          <textarea class="form-control" name="json_input" id="json_input" rows="20">
{
  "elements": [
    {
      "name": "Challenge / Difficulty Scaling",
      "description": "Progressive increase in difficulty that tests player skill over time"
    },
    {
      "name": "Time Pressure",
      "description": "Players must act quickly due to timers or increasing speed"
    }
  ]
}
          </textarea>
          {% endif %}
        </div>

        <div class="form-check mb-1">          
          <input class="form-check-input" type="checkbox" name="just_check_flag" id="just_check_flag" value="True" checked></input>
          <label class="form-check-label" for="just_check_flag">Just check</label>
        </div>
        
        <input class="btn btn-warning" type="submit" value="Load elements" onclick="return confirm('Are you sure?');">
        
    </form>
    {% endif %}
  </div>
{% endblock %}

<div class="uk-container-expand"></div>
{% block menu_items %}
{% endblock %}
{% block elements_active %}active{% endblock %}

{% block content %}
{% for message in messages %}
  <div class="">{{ message }}</div>
{% endfor %}
<br>
{% if ids %}
  <h2>Added Element IDs:</h2>
  <ul>
    {% for id_data in ids %}
      {% if id_data.id %}
      <li>Was found in data base with ID {{id_data.id}}: <a href="{{ url_for('blog.view', id=id_data.id) }}">{{ id_data.title }} - {{ id_data.body }}</a></li>
      {% else %}
      <li class="bg-warning">Will be added: {{ id_data.title }} - {{ id_data.body }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

