{% extends 'base.html' %}

{% block header %}
  <div uk-grid class="">
    <h1 class="">{% block title %}Services{% endblock %}</h1>
    {% if g.user %}
    {% endif %}
  </div>
{% endblock %}

<div class=""></div>
{% block menu_items %}
{% endblock %}
{% block services_active %}active{% endblock %}

{% block content %}
<p>Here you can find various services to help you work with game elements.</p>
<a href="{{ url_for('services.get_prompt_to_compare_games') }}">Get the prompt to compare games</a><br>
{% for message in messages %}
  <div class="">{{ message }}</div>
{% endfor %}
<br>
{% endblock %}

