{% extends 'base.html' %}

{% block header %}
  <div uk-grid class="">
    <h1 class="">{% block title %}Services{% endblock %}</h1>
    {% if g.user %}
    <form action="{{ url_for('blog.load_dictionary', service_name='load_dictionary') }}" method="post">
      <div class="mb-3">
          <label for="json_input" class="form-label">Elements data in JSON format</label>
          <textarea class="form-control" name="json_input" id="json_input" rows="10" placeholder="Paste your elements data in JSON format here ..."></textarea>
          <div class="form-text">You can paste your game data in JSON format here.</div>
        </div>

        <div class="form-check mb-1">          
          <input class="form-check-input" type="checkbox" name="just_check_flag" id="just_check_flag" value="True" checked></input>
          <label class="form-check-label" for="just_check_flag">Just check</label>
        </div>
        
        <input class="btn btn-warning" type="submit" value="Load dictionary" onclick="return confirm('Are you sure?');">
        
    </form>
    {% endif %}
  </div>
{% endblock %}

<div class="uk-container-expand"></div>
{% block menu_items %}
{% endblock %}
{% block elements_active %}active{% endblock %}

{% block content %}
{% for message in messages %}
  <div class="">{{ message }}</div>
{% endfor %}
<br>
{% if ids %}
  <h2>Added Element IDs:</h2>
  <ul>
    {% for id_data in ids %}
      {% if id_data.id %}
      <li>{{id_data.id}}: <a href="{{ url_for('blog.view', id=id_data.id) }}">{{ id_data.title }} - {{ id_data.body }}</a></li>
      {% else %}
      <li class="bg-warning">{{ id_data.title }} - {{ id_data.body }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}

