<!doctype html>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C7QR1MW3WC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C7QR1MW3WC');
</script>

<title>{% block title %}{% endblock %} - divertidos games</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static', filename='bootstrap-5-3-3-dist/css/bootstrap.min.css') }}" rel="stylesheet"></link>
<!-- link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" -->
<!-- script src="{{ url_for('static', filename='bootstrap-5.3.3-dist/js/bootstrap.min.js') }}"></script -->

<div class="container">
  <nav class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('games.index') }}">Fun Games</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block games_active %}{% endblock %}" aria-current="page" href="{{ url_for('games.index') }}">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block elements_active %}{% endblock %}" href="{{ url_for('index') }}">Elements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block tags_active %}{% endblock %}" href="{{ url_for('tags.index') }}">Hashtags</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block services_active %}{% endblock %}" href="{{ url_for('services.index') }}">Services</a>
          </li>
        </ul>
        <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
        -->
        {% if g.user %}
        <ul class="navbar-nav d-flex justify-content-end ms-2">
          <li class="navbar-text ml-2">{{ g.user['username'] }}</li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
  
  <div class="row">
    <div class='col-auto'>
      {% block breadcrumb %}{% endblock %}
    </div>
  </div>
  
  <div class="row justify-content-md-start">
    
    <div class='col-auto'></div>
    
    <div class="col-auto flex-fill">  
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="alert alert-primary" role="alert">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </div>

    <div class='col-auto'></div>
    
  </div>
</div>

<script src="{{ url_for('static', filename='js/work-with-coockies.js') }}"></script>
<script>      
  function tagOnClickGeneral(tag_title) {
    tags = getCookie('tags');
    if (tags == null) {
      tags = ""
    }
    if (tags.length > 0 && tags.search(tag_title) == -1) {
      setCookie('tags', tags + '%%' + tag_title, 0)
    } else if (tags.length == 0) {
      setCookie('tags', tag_title, 0)
    }
    window.location.href = "{{ url_for('index') }}"; //+ "?tag=" + tag_title;
  }

  function tagCloseOnClickGeneral(tag_title) {
    tags = getCookie('tags');
    if (tags == null) {
      tags = ""
    }
    if (tags.length > 0 && tags.search(tag_title) > -1) {
      let isLastTag = (tags.search('%%') == -1)
      if (isLastTag) {
        tags = ""
      } else if (tags.search('%%' + tag_title) == -1) {
        tags = tags.replace(tag_title + '%%', '')
      } else {
        tags = tags.replace('%%' + tag_title, '')
      }
      
      setCookie('tags', tags, 0)
    }
    window.location.href = "{{ url_for('index') }}"; // + "?tag=" + tag_title;
  }

  function clearTags() {
    setCookie('tags', '', 0)
  }
</script>
<!-- script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script -->
<script src="{{ url_for('static', filename='bootstrap-5-3-3-dist/js/bootstrap.bundle.min.js') }}"></script>

