{% extends 'base.html' %}

{% block header %}
  <div uk-grid class="">
    <h1 class="">{% block title %}Contacts{% endblock %}</h1>
    {% if g.user %}
    {% endif %}
  </div>
{% endblock %}

<div class=""></div>
{% block menu_items %}
{% endblock %}
{% block contacts_active %}active{% endblock %}

{% block content %}
<p>Hello, my name is Mikhail.
If you have any questions or suggestions, please email me at: </p>
<a href="mailto:mikael.pintassilgo@gmail.com">mikael.pintassilgo@gmail.com</a><br>
{% endblock %}
