{% extends 'base.html' %}
{% from 'macros.html' import render_variant_section %}
{% from 'macros.html' import render_variant_list %}

{% block header %}
  {% if current_user.id %}
  <h1>{{ current_user.username }}</h1>
  {% endif %}
{% endblock %}

{% block content %}

{% if current_user.id %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="list-group list-group-flush border-end">
                <a href="#my-variants" class="list-group-item list-group-item-action active" data-bs-toggle="list" aria-selected="true">My Variants</a>
                <a href="#liked-variants" class="list-group-item list-group-item-action" data-bs-toggle="list" aria-selected="false">Liked Variants</a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <div class="tab-content">
                
                <!-- Section: My Variatns -->
                <div class="tab-pane fade show active" id="my-variants">
                    <h3 class="mb-4 fw-bold">My Variants</h3>
                    
                    {{ render_variant_section("Needs Revision", stats.needs_revision, "border-danger", "needs_revision") }}
                    
                    {{ render_variant_section("Pending Review", stats.pending_review, "border-warning", "pending_review") }}
                    {{ render_variant_section("Published", stats.public, "border-success", "public") }}
                    {{ render_variant_section("Private", stats.private, "border-secondary", "private") }}
                </div>

                <!-- Section: Liked Variants -->
                <div class="tab-pane fade" id="liked-variants">
                    <h3 class="mb-4">Liked Variants</h3>
                    {{ render_variant_list(stats.liked) }}
                </div>

            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}