{% extends 'base.html' %}

{% block breadcrumb %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('games.index') }}">Games</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('games.view', id=game_id) }}">{{ game_title }}</a></li>
    <li class="breadcrumb-item active" aria-current="page"></li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class='row mt-3'>
  <div class='col-12'>
  
    <div class="card" style="">
      <div class="card-header">Game Element Details
        {% if g.user['id'] == game_element['author_id'] %}
        <a href="{{ url_for('game_elements.update', ge_id=game_element['id']) + "?game_id=" + game_id|string }}">edit</a>
        {% endif %}
      </div>
      <div class="card-body">
        <fieldset class="">

          <label for="element" class="form-label">Element</label>
          <p name="element" id="element"><a href="{{ url_for('blog.view', id=game_element['e_or_ge_id']) }}">{{ game_element['element_title'] }}</a></p>

          <label for="description" class="form-label mt-3">Description</label>
          <p class="mb-3" name="description" id="description">{{ game_element['description'] | safe }}</p>
          
          {% for ge_link in game_element_links %}
            {% if ge_link['title'] %}
            <p><a href='{{ ge_link['link'] }}' target="_blank">{{ ge_link['title'] }}</a></p>
            {% else %}
            <p><a href='{{ ge_link['link'] }}' target="_blank">{{ ge_link['link'] }}</a></p>
            {% endif %}
          {% endfor %}

        </fieldset>
      </div>
    </div>

    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Variants</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Tags</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        
        <!-- Game Element Variants -->
        <div class="row row-cols-auto mt-3">
        {% for ge_variant in game_element_variants %}
          <div class="col">
            <div class="card mb-2" style="width: 18rem;">
              <!-- img src="..." class="card-img-top" alt="..." -->
              <div class="card-body">
                <p>{{ ge_variant['title'] }}</p>
                {% if ge_variant['status'] == 'pending_review' %}
                  <span class="badge bg-warning">pending review</span>
                {% endif %}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">by {{ ge_variant['author_name'] }}</li>
              </ul>
            </div>
          </div>
        {% endfor %}
        </div>


        <div class='row mt-3'>
          <div class='col-12'>
              
            <form action="{{ url_for('game_element_variants.create') }}?type=game_and_element" method="post">
              <fieldset class="mb-3">
                <textarea class="form-control" placeholder="Enter new variant description here..." name="variant_title" id="variant_title" required>{{ request.form['variant_title'] }}</textarea>
                <input class="form-control" type="" name="game_element_id" id="game_element_id" value="{{ ge_id }}" hidden>
                <input class="form-control" type="" name="game_id" id="game_id" value="{{ game_id }}" hidden>
                {% if g.user and g.user['id'] %}
                <button class="btn btn-primary mt-1" type="submit" value="Add Variant">Add Variant</button>
                {% else %}
                <p class="mt-2">Please <a href="{{ url_for('auth.login', next=url_for('game_elements.view', ge_id=ge_id, game_id=game_id)) }}">log in</a>
                   or <a href="{{ url_for('auth.register', next=url_for('game_elements.view', ge_id=ge_id, game_id=game_id)) }}">register</a> to add a variant.</p>
                {% endif %}
              </fieldset>
            </form>
              
          </div>
        </div>
        <!-- End of Game Element Variants -->

      </div>

      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <!-- Game Element Tags -->
        <div class='row'>
          <div class='col-12'>

              <table class="table table-hover">
                <caption class="caption-top">Tags</caption>
                <tbody>
                  <thead>
                    <tr>
                      <th scope="col">tag</th>
                    </tr>
                  </thead>

                  {% for ge_tag in game_element_tags %}
                  <tr>
                      <td>
                        <p>{{ ge_tag['tag_title'] }}</p>
                      </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
        <!-- End of Game Element Tags -->

      </div>
      
    </div>

  </div>
</div>




{% endblock %}